﻿@model FoodDelivery.ViewModels.Order.OrderCreateModel

@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<table class="table basket-table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Всего
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Price) c
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum) c
                </td>
                <td>
                    <a asp-action="RemoveFromBasket" asp-controller="Order" asp-route-id="@item.Food.Id"><span aria-hidden="true" class="text-info close-icon">&times;</span></a>
                </td>
            </tr>
        }
        <tr>
            <td><b>@Html.DisplayNameFor(model => model.TotalSum):</b></td>
            <td></td>
            <td></td>
            <td><b>@Html.DisplayFor(model => model.TotalSum) с</b></td>
            <td></td>
        </tr>

    </tbody>
</table>

@if (Model.OrderItems.Count > 0)
{
    <form asp-action="Create" asp-controller="Order">
        @Html.HiddenFor(model => model.EstablishmentId)
        <button class="btn btn-info">Оформить заказ</button>
    </form>
}

<div class="my-4">
    <a asp-action="Details" asp-route-id="@Model.EstablishmentId">Назад к списку</a>
</div>

