﻿@model FoodDelivery.ViewModels.Establishment.EstablishmentViewModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
    var adminRole = FoodDelivery.Core.Models.RoleEnum.Admin.ToString();
    var clientRole = FoodDelivery.Core.Models.RoleEnum.Client.ToString();
    var id = Model.Id;
}

<div class="my-5">
    <partial name="_FlashMessagePartial" />
    <div class="row">
        <div class="row col-sm-10">
            <div class="col-sm-3">
                <img src="~/establishments/@Url.Content(Model.ImagePath)" asp-append-version="true" width="100" height="100">
            </div>
            <div class="col-sm-9">
                <h1>@Html.DisplayFor(model => model.Name)</h1>
            </div>
            <div class="col my-3">
                <p>
                    <b>@Html.DisplayNameFor(model => model.Description)</b><br />
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
        </div>
        @if (User.IsInRole(clientRole) || !User.Identity.IsAuthenticated)
        {
            <div class="col-sm-2 text-right my-2">
                @if (Model.TotalSum > 0)
                {
                    <a asp-action="Basket" asp-route-id="@Model.Id" class="btn btn-info basket-link"><span class="d-flex"><img src="~/images/@Url.Content("shopping-cart.svg")" width="20" height="20" /> <span class="ml-1 font-weight-bold">@Html.DisplayFor(model => model.TotalSum) c</span></span></a>
                }
                else
                {
                    <div class="btn btn-info basket-link"><span class="d-flex"><img src="~/images/@Url.Content("shopping-cart.svg")" width="20" height="20" /> <span class="ml-1 font-weight-bold">@Html.DisplayFor(model => model.TotalSum) c</span></span></div>
                }
            </div>
        }
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">@Html.DisplayNameFor(model => model.Foods)</a>
            <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Отзывы</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div id="menuContainer" class="mt-5">
                @if (User.IsInRole(adminRole))
                {
                    <div class="my-3">
                        <input type="text" value="@Model.Id" id="establishmentId" hidden />
                        <a href="#" id="addFood">Добавить новый</a>
                    </div>
                }

                @await Html.PartialAsync("../Food/_Index.cshtml", Model.Foods)
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div id="reviewContainer" class="mt-5">
                @await Html.PartialAsync("../Review/_Index.cshtml", Model.Reviews)
                @if (User.IsInRole(clientRole))
                {
                <div id="reviewContainerForm" class="mt-5">
                </div>
                }
            </div>
        </div>
    </div>    
</div>
<div>
    @if (User.IsInRole(adminRole))
    { 
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) <span>|</span>
    }
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts
{
    <script>
        $('#addFood').click(function (e) {
            e.preventDefault();
            var id = $('#establishmentId').val();
            $.ajax({
                url: 'https://localhost:44375/Food/Create?establishmentId=' + id
            })
            .done(function (response) {
                $('#menuContainer').html(response);
            })
        }); 

        $('#editFood').click(function (e) {
            var id = e.currentTarget.name;
            $.ajax({
                url: 'https://localhost:44375/Food/Edit/' + id
            })
                .done(function (response) {
                    $('#menuContainer').html(response);
                })
        }); 

        $('#nav-review-tab').on('shown.bs.tab', function (e) {
                var id = @id
                    $.ajax({
                        url: 'https://localhost:44375/Review/Create/?establishmentId=' + id
                    })
                        .done(function (response) {
                            $('#reviewContainerForm').html(response);
                        })
        })
    </script>
}
