﻿@model IEnumerable<FoodDelivery.ViewModels.Establishment.EstablishmentViewModel>

@{
    ViewData["Title"] = "Index";
    var adminRole = FoodDelivery.Core.Models.RoleEnum.Admin.ToString();
}

<h1>Заведения</h1>

<partial name="_FlashMessagePartial" />
@if (User.IsInRole(adminRole))
{
    <p>
        <a asp-action="Create">Добавить новое</a>
    </p>
}
<table class="table my-5">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/establishments/@Url.Content(item.ImagePath)" asp-append-version="true" width="50" height="50">
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="vertical-align:middle;">
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    @if (User.IsInRole(adminRole))
                    {
                        <span>|</span>  <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit text-info"></i></a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash text-info"></i> </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
