﻿@model IEnumerable<FoodDelivery.ViewModels.Food.FoodViewModel>
@{
    var clientRole = FoodDelivery.Core.Models.RoleEnum.Client.ToString();
    var adminRole = FoodDelivery.Core.Models.RoleEnum.Admin.ToString();
}

<table class="table">
    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th></th>
        </tr>
    
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @Html.HiddenFor(modelItem=>item.Id)
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="vertical-align:middle;">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (User.IsInRole(clientRole) || !User.Identity.IsAuthenticated)
            {
                <td style="vertical-align:middle;">
                    <a asp-action="AddToBasket" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-info">Заказать</a>
                </td>
            }
            @if (User.IsInRole(adminRole))
            {
                <td style="vertical-align:middle;">
                    <a id="editFood" name="@item.Id"><i class="fas fa-edit text-info"></i></a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
