﻿@model IEnumerable<FoodDelivery.Domain.Dtos.Establishment.ReviewDto>

@foreach (var item in Model) {
<div class="card my-3">
    <div class="card-header">
        <span>@Html.DisplayFor(modelItem => item.UserName)</span>
        <span class="float-right">@Html.DisplayFor(modelItem => item.CreatedAt)</span>
    </div>
    <div class="card-body">
        @Html.DisplayFor(modelItem => item.Text)
    </div>
</div>
}