﻿@model FoodDelivery.ViewModels.Order.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали заказа</h1>

<div class="my-5">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstablishmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum) c
        </dd>
    </dl>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Всего
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodPrice) c
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sum) c
                        </td>
                    </tr>
                  }
                </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>
