﻿@model IEnumerable<FoodDelivery.ViewModels.Order.OrderViewModel>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<table class="table my-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum) c
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
